/* -----universal section---*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', serif;
}

/*-----body----*/
body {
    color: rgb(247, 245, 245);
    background-color: #011221;
    background-size: cover;
    background-position: center;
-ms-overflow-style: none;

}
body::-webkit-scrollbar{
    display: none;
}
html{
    scrollbar-width: none;
}

/*----========================================================---HOME-section---========================================================---*/

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.2px 1px;
    background: #011221;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

/*-----logo----*/

.logo {
    position: relative;
    font-size: 45px;
    color: #f3f0f0;
    text-decoration: none;
    font-style: oblique;
    font-weight: 600;
}

.logo span {
    color: rgb(180, 13, 13);
}

.logo h4 {
    font-size: 30px;
    font-style: inherit;
}

/*-----navigation bar----*/

.navbar a {
    display: inline-block;
    font-size: 20px;
    color: #faf2f2;
    text-decoration: none;
    font-weight: 500;
    transition: 2ms;
    margin-left: 20px;
    animation: slidebottom .5s ease forwards;
    animation-delay: calc(.3s*var(--i));
    opacity: 0;
margin-right: 20px;

}

.navbar a:hover {
    color: rgb(23, 194, 237);
}

/*-----home----*/

.home {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}

.home-content {
    max-width: 600px;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slidebottom 1s ease forwards;
    animation-delay: 0.7s;
}

.home-content h3 span {
    color: #0ef;
}

.home-content h3 :nth-of-type(2) {
    animation: slidetop 1s ease forwards;
    margin-bottom: 30px;
    animation-delay: .7s;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    color: rgb(237, 244, 244);
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
    opacity: 0;
}

.home-content p {
    font-size: 20px;
    margin-bottom: 10px;
    animation: slideleft 1s ease forwards;
    opacity: 0;
    animation-delay: 1s;
}

/*-----social media icons----*/

.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 1px solid#0ef;
    border-radius: 50%;
    font-size: 20px;
    color: rgb(6, 215, 230);
    text-decoration: none;
    box-shadow: 0 3px 10px #000000;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: .5s;
    animation: slideleft 1s ease forwards;
    animation-delay: calc(.3s*var(--i));
    opacity: 0;
}

.home-sci a:hover {
    color: #f9f6f6;
    box-shadow: 0px 0px 20px #ece5e5;
    border: 1px solid #e1d9d9;
    background-color: #0ef;

}

/*-----button box----*/

.btn-box {
    align-items: center;
    color: #011221;
    display: inline-flex;
    border-radius: 40px;
    padding: 12px 28px;
    font-size: 16px;
    text-decoration: none;
    border: 2px solid #0ef;
    box-shadow: 0px 3px 10px #000000;
    margin-top: 20px;
    font-weight: 400;
    font-size: larger;
    background-color: #0ef;
    font-weight: 600;
    opacity: 0;
    animation: slidebottom 1s ease forwards;
    animation-delay: 2s;
    margin-right: 10px;
}

.btn-box:hover {
    box-shadow: 0px 0px 15px cyan;
    background:#000000 ;
    color: #0ef;

}
  /*-----==============================================--aminmations-sections--=================================================================================--*/
  @keyframes slidetop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}



@keyframes slideleft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}


@keyframes slidebottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes animate-path1 {
    100% {
        stroke-dashoffset: 70;
    }

}

@keyframes animate-path2 {
    100% {
        stroke-dashoffset: 60;
    }

}

@keyframes animate-path3 {
    100% {
        stroke-dashoffset: 125;
    }

}

@keyframes animate-path4 {
    100% {
        stroke-dashoffset: 85;
    }

}

@keyframes animate-path5 {
    100% {
        stroke-dashoffset: 75;
    }

}

@keyframes animate-bar {
    100% {
        stroke-dashoffset: -1;
    }
}

@keyframes showtext {
    100% {
        opacity: 1;
    }

}

@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}


/*-----=================================================---ABOUT-Section------==============================================================================----*/

#about {
    padding: 80px 1%;
    display: flex;
}

/*-----row container----*/

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

/*-----about- image----*/

.about-image {
    flex-basis: 35%;
}

.about-image img {
    width: 100%;
    border-radius: 50%;
    margin-left: 15px;
    transition: .5s;
    animation: slidetop 1s ease forwards;
    opacity: 0;
    box-shadow: 0px 0px 50px #0ef;


}

/*-----about-text----*/


.text {
    flex-basis: 60%;
}

.text span {
    color: #0ef;
}

.text h2 {
    margin-top: 5px;
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slidebottom 1s ease forwards;
    animation-delay: 0.7s;
}

.text p {
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    animation: slideleft 1s ease forwards;
    opacity: 0;
    animation-delay: 1s;
}

.text h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    color: rgb(237, 244, 244);
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
    opacity: 0;
}

/*--============more-about-me class/section=========-*/
.more-about-me {
    display: none;

}

/*-----tab-titles----*/

.tab-titles {
    display: flex;
    margin: 20px 0 40px;

}

/*-----tab-links----*/

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #0ef;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;

}

.tab-links.active-link::after {
    width: 100%;
}

/*----tab-contents-----*/

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;

}

.tab-contents ul li span {
    color: rgb(251, 3, 3);
    font-size: 18px;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

/*------------------=========================================---SERVICES-Section---======================================================--------------*/
#services {
    padding: 30px 0;

}

.heading {

    margin-left: 35%;
    font-size: 30px;
    font-weight: 500;
    display: inline-flex;

}

.heading-me {
    margin-right: 10px;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
    opacity: 0;
}

/*---------------service heading --------*/

.heading-service {
    color: #0ef;
    margin-left: 10px;
    animation: slideleft 1s ease forwards;
    animation-delay: 1s;
    opacity: 0;

}

/*---------------service's list --------*/

.service-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin: 50px 20px;

}

/*---------------each services common style--------*/

.service-list div {
    background: rgb(1, 11, 15);
    padding: 30px;
    font-size: 20px;
    font-weight: 300;
    border-radius: 20px;
    transition: background 0.5s, transform 0.5s;

}


.service-list div:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 10px #0ef;

}

.read {
    opacity: 0;
}

.service-list div:hover .read {
    display: inline-flex;
    color: #000000;
    text-decoration: none;
    background: #0ef;
    margin-top: 20px;
    padding: 12px 28px;
    letter-spacing: 2px;
    font-size: 20px;
    transition: 0.5s;
    border-radius: 40px;
    opacity: 1;
    box-shadow: 0 0 10px #0ef;
}

/*--=====================================================----SKILLS-section---==========================================================================*/
.heading-skill {
    margin-left: 39%;
    font-size: 30px;
    font-weight: 500;
    display: inline-flex;
    margin-right: 10px;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
    opacity: 0;
}

.heading-skill span {
    color: #0ef;
}

section {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.skillbox-1 {
    width: 600px;
    height: 700px;
    padding: 30px 20px;
    margin-left: 20px;
    margin-top: 20px;

}

.heading1 {
    text-align: center;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 10px;
    margin-bottom: 50px;
    text-decoration-color: rgb(9, 198, 212);

}

.bar {
    font-size: 23px;

}

.Technical-bars .bar {
    margin-top: 40px 0px;
    margin-bottom: 20px;

}

.Technical-bars .bar:first-child {
    margin-top: 0;

}

.Technical-bars .bar:last-child {
    margin-bottom: 0;
}

.Technical-bars .bar .info {
    margin-bottom: 5px;
}

.Technical-bars .bar .info span {
    font-size: 17px;
    font-weight: 500;
    animation: showtext 0.5s 1s linear forwards;
    opacity: 0;
}

.Technical-bars .bar .progress-line {
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    background-color: #000000;
    transform: scaleX(0);
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
    transform-origin: left;
}


.Technical-bars .bar .progress-line span {
    height: 100%;
    background-color: #0ef;
    position: absolute;
    border-radius: 10px;
    animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}

.progress-line.html span {
    width: 90%;
}

.progress-line.css span {
    width: 85%;
}

.progress-line.javascript span {
    width: 65%;
}

.progress-line.python span {
    width: 83%;
}

.progress-line.react span {
    width: 75%;
}

.progress-line span::after {
    position: absolute;
    padding: 1px 8px;
    background-color: #000000;
    color: #fff;
    border-radius: 3px;
    font-size: 12px;
    top: -28px;
    right: -20px;
    animation: showtext 0.5s 1.5s linear forwards;
    opacity: 0;
}

.progress-line.html span::after {
    content: "90%";
}

.progress-line.css span::after {
    content: "85%";
}

.progress-line.javascript span::after {
    content: "65%";
}

.progress-line.python span::after {
    content: "83%";
}

.progress-line.react span::after {
    content: "75%";
}

.progress-line span::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000000;
    top: -10px;
    right: 0;
    animation: showtext 0.5s 1.5s linear forwards;
    opacity: 0;

}



/*---------------skillbox-1 id=2-----------------*/

.radials {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;

}

.radials .radial-bar {
    width: 50%;
    height: 170px;
    margin-bottom: 10px;
    position: relative;

}

.radials .radial-bar svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 120px;
    height: 160px;


}

.radials .radial-bar .progress-bar {
    stroke-width: 10;
    stroke: #000000;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
    animation: animate-bar 1s linear forwards;
}


.path {
    stroke-width: 10;
    stroke: #0ef;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;

}

.path-1 {
    animation: animate-path1 1s 1s linear forwards;
}

.path-2 {
    animation: animate-path2 1s 1s linear forwards;
}

.path-3 {
    animation: animate-path3 1s 1s linear forwards;
}

.path-4 {
    animation: animate-path4 1s 1s linear forwards;
}

.path-5 {
    animation: animate-path5 1s 1s linear forwards;
}



.radial-bar .percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 17px;
    font-weight: 500;
    animation: showtext 0.5s 1s linear forwards;
    opacity: 0;
    color: rgb(0, 255, 229);
}

.radial-bar .text {
    width: 100%;
    position: absolute;
    text-align: center;
    left: 30%;
    bottom: -8px;
    transform: translateX(-50px);
    font-size: 15px;
    font-weight: 500;
    animation: showtext 0.5s 1s linear forwards;
    opacity: 0;
    color: rgb(0, 255, 234);

}
/*--=========================================================---portfolio-section---==========================================================================-------*/
.head{
    align-items: center;
    margin-left: 40%;
    font-size: 45px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 4rem;
    animation: slideRight 1s ease forwards;
    opacity: 0;
}
.head span{
    color: #0ef;
    animation: slideRight 3s ease forwards;
    opacity: 0;
}
.port-box img{
width: 100%;
height: 20rem;
border-radius: 20px;
transition: .5s ease;
display: block;

}
.port-box:hover img{
    transform: scale(1.1);
}
.port-container{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 2.5rem;
    margin: 50px 20px;
}
  .port-box{
    position: relative;
    border-radius: 4rem;
    box-shadow:0 0 1rem #000000;
    display: flex;
    overflow: hidden;
    animation: slideleft 1s ease forwards;
    animation-delay: calc(.2s*var(--i));
    opacity: 0;
}
.port-box .layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,-1),#012543);
justify-content: center;
align-items: center;
text-align: center;
flex-direction: column;
padding: 0 4rem;
transform: translateY(100%);
transition: .5s ease;
}
.port-box:hover .layer{
    transform: translateY(0);
}
.layer p{
    margin: .4rem  0 1rem;
    font-size:.8rem;
    
}
.layer h4{
    margin-top: 7.5rem;
    font-size: 3rem;
    font-weight: 600;
}
.layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    background: #011221;
    border-radius: 50%;
    box-shadow:0px 0px 10px #000000;
    color:#0ef;
    text-decoration: none;
}
/*------=============--contact-section=========================================================================================--------*/
.contact-left{
    flex-basis: 35%;
}
.contact-left h1{
    font-weight: 500;
    font-size: 35px;
}
.contact-left h1 span{
    color: #0ef;
    font-size:45px ;
    margin-right: 10px;
}
.contact-left p i{
    font-size: 22px;
    font-weight: 500;
    color: #0ef;
    margin: 0 20px;
}
.contact-left p{
    margin-top: 30px;
    font-size: 17px;
    margin-bottom: 10px;
    margin-left: 20px ;
}
.Download-btn{
    text-decoration: none;
    align-items: center;
    color: #011221;
    display: inline-flex;
    border-radius: 40px;
    padding: 12px 28px ;
    font-size: 16px;
    border: 2px solid #0ef;
    box-shadow: 0px 3px 10px #000000;
    margin-top: 20px;
    font-weight: 700;
    font-size: large;
    background-color: #0ef;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 0s;
    margin-left: 30px;
    margin-bottom: 20px;   
}
.Download-btn:hover{ 
    box-shadow: 0px 0px 15px cyan;
    background:#000000;
    color: #0ef;
    
}
.contact-right{
    flex-basis: 60%;
    padding: 70px;
    margin-right: 20px;
}
.btn-submit{ 
    text-decoration: none;
    align-items: center;
    color: #011221;
    display: inline-flex;
    border-radius: 40px;
    padding: 12px 28px ;
    font-size: 16px;
    border: 2px solid #0ef;
    box-shadow: 0px 3px 10px #000000;
    margin-top: 20px;
    font-weight: 700;
    font-size: large;
    background-color: #0ef;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 0s;
    margin-bottom: 20px;
    cursor: pointer;
}
.btn-submit:hover{
    box-shadow: 0px 0px 15px cyan;
    background: #000000;
    color: #0ef;

}
form input ,form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: transparent;
    padding: 15px;
    margin: 15px 0;
    color: #ffff;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid #0ef;
   resize: none;
}

form input:hover{
    box-shadow:0 0 10px #0ef;
}
form textarea:hover{
    box-shadow: 0 0 10px #0ef;
}
form textarea::-webkit-scrollbar{
    display: none;
}
.greeting{
    text-align: center;
    font-weight: 400;
    font-size: 40px;
    width: 100%;
    text-decoration:underline;
    text-decoration-color: #0ef;

}
.copyright{
    background:rgb(0, 0, 0);
    color:#d71919;
    text-decoration: underline;
    font-size: 20px;
    margin-top: 30px;
    text-align: center;
    margin-top: 50px;
    
}
.greeting i{
    color: crimson;
}
